.loginScreen{
    position: relative;
    background: url('https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png') center no-repeat;
    background-size: cover;
}

.loginScreen_gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen_logo{
    width: 150px;
    position: fixed;
    left: 0;
    padding-left: 20px;
    object-fit: contain;
}

.loginScreen_button{
    position: fixed;
    right: 20px;
    top: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
}

.loginScreen_body{
    color: #fff;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    padding: 20px;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
}

.loginScreen_body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.loginScreen_body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen_body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen_input > form{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.loginScreen_input > form > input{
    width: 30%;
    max-width: 600px;
    outline-width: 0;
    height: 30px;
    border: none;
    padding: 10px;
}

.loginScreen_getStarted{
    padding: 15.9px 20px;
    font-size: 1rem;
    color: #fff;
    margin: 0;
    background-color: #e50914;
    /* outline: none; */
    border: none;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .loginScreen_logo{
        position: absolute;
        width: 100px;
    }
    .loginScreen_gradient{
        height: 125vh;
    }
    .loginScreen_button{
        position: absolute;
        /* width: 100px; */
        top: 11px;
    }

    .loginScreen_body{
        top: 20%;
    }

    .loginScreen_body > h1{
        font-size: 1.75rem;
        margin-bottom: 10px;
        font-weight: 500;
    }
    .loginScreen_body > h2{
        font-size: 1rem;
        margin-bottom: 10px;
        font-weight: 400;
    }
    .loginScreen_body > h3{
        font-size: 1rem;
        margin-bottom: 5px;
        font-weight: 400;
    }
    .loginScreen_input > form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .loginScreen_input > form > input{
        width: 100%;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    .loginScreen_getStarted{
        display: flex;
        max-width: 170px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }
}